### Test run

Objective:
Test the temperature monitor rig and tec1-12715 and tec1-12703 module 

